<div class="container-fluid">
    <div class="row">
        <div class="col-3 shrink-0 fixed">
            <app-sidebar></app-sidebar>            
        </div>
        <div class="col-9 text-center">
            <div data-bs-spy="scroll" data-bs-target="#list-example" data-bs-smooth-scroll="true" class="scrollspy-example" tabindex="0">
                <div class="card">
                    <router-outlet></router-outlet>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- <button [routerLink]="['/FrontPagee']">Millenium IT</button>
<router-outlet></router-outlet> -->


<!-- <router-outlet></router-outlet> -->
