<div>
  <div>
    <H1>CV Management</H1>
  </div>
  <H3>Upload your CV</H3>
  <form [formGroup]="formVar" (ngSubmit)="onSubmit()">
  <div class="register--form">
    <div class="mb-1 row align-items-center">
      <label class="col-sm-2 col-form-label" style="text-align: end;">Full Name:</label>
      <div class="col">
        <input type="text" class="form-control" placeholder="First Name" formControlName="firstname" />
      </div>
      <div class="col">
        <input type="text" class="form-control" placeholder="Last Name" formControlName="lastname" />
      </div>
    </div>
    <div class="mb-1 row">
      <label class="col-sm-2 col-form-label">Email:</label>
      <div class="col">
        <input type="email" class="form-control" placeholder="Email" formControlName="email"/>
      </div>
    </div>
    <div class="mb-1 row">
      <label class="col-sm-2 col-form-label text-align-start">Phone:</label>
      <div class="col">
        <input type="text" class="form-control" placeholder="Phone Number" formControlName="phone" />
      </div>
    </div>
    <div class="mb-1 row align-items-center">
      <label class="col-sm-2 col-form-label">Interested Area:</label>
      <div class="col">
        <select formControlName="selectedarea" class="form-select">
          <option selected>Open this select menu</option>
          <option>One</option>
          <option>Two</option>
          <option>Three</option>
        </select>
      </div>
    </div>
    <div class="mb-1 row align-items-center">
      <label class="col-sm-2 col-form-label"
        >Applying Position:</label
      >
      <div class="col-sm-10">
        <input
          type="email"
          class="form-control"
          placeholder="Applying Position"
          disabled
        />
      </div>
    </div>
    <div class="mb-1 row">
      <label class="col-sm-2 col-form-label">Experience:</label>
      <div class="col">
        <select formControlName="selectedexperience" class="form-select">
          <option selected>Open this select menu</option>
          <option>One</option>
          <option>Two</option>
          <option>Three</option>
        </select>
      </div>
    </div>
    <div class="mb-1 row">
      <label class="col-sm-2 col-form-label text-align-start">Remarks:</label>
      <div class="col">
        <input type="text" class="form-control" formControlName="remarks" />
      </div>
    </div>
    <div class="mb-1 row">
      <div class="col">
        <input type="file" class="file-upload" onchange="console.log(event.target.files)">
      </div>
    </div>
    <button type="submit" class="btn btn-danger m-3">Submit</button>
  </div>
</form>
</div>
