<div>
  <H1>CV Management</H1>
</div>
<H3>Dashboard</H3>
<div class="input--fields">
  <input class="single--input" placeholder="First Name">
  <input class="single--input" placeholder="Last Name">
  <input class="single--input" placeholder="Position">
  <input class="single--input" placeholder="Status">
</div>
<table class="table">
  <thead>
    <tr class="table-secondary text-align-start">
      <th scope="col">First Name</th>
      <th scope="col">Last Name</th>
      <th scope="col">Expected Position</th>
      <th scope="col">Status</th>
      <th scope="col">Assigned User</th>
      <th scope="col">Remarks</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    <!-- <tr>
      <td><input class="single--input" placeholder="First Name"></td>
      <td><input class="single--input" placeholder="Last Name"></td>
      <td><input class="single--input" placeholder="Position"></td>
      <td><input class="single--input" placeholder="Status"></td>
    </tr> -->
    <tr>
      <td>John</td>
      <td>Doe</td>
      <td>Intern</td>
      <td>Job Offered</td>
      <td>Jane Doe</td>
      <td>Excellent performance</td>
      <td>
        <button class="btn btn-danger btn-sm">Delete</button>
      </td>
    </tr>
    <tr>
      <td>Alice</td>
      <td>Smith</td>
      <td>Associate</td>
      <td>Job Offered</td>
      <td>Bob Johnson</td>
      <td>Needs improvement</td>
      <td>
        <button class="btn btn-danger btn-sm">Delete</button>
      </td>
    </tr>
    <tr>
      <td>Mary</td>
      <td>Jones</td>
      <td>Intern</td>
      <td>Job Offered</td>
      <td>Mark Davis</td>
      <td>Meeting deadlines</td>
      <td>
        <button class="btn btn-danger btn-sm">Delete</button>
      </td>
    </tr>
  </tbody>
</table>

<app-dashboard-table></app-dashboard-table>