@import '~ag-grid-community/styles/ag-grid.css';
@import '~ag-grid-community/styles/ag-theme-alpine.css';

H1, H3{
    padding: 20px;
    color: #0070ff;
}

th{
    padding-inline: 20px;
}

th, td{
    align-items: flex-start;
}

table{
    font-size:smaller;
}

.input--fields{
    display: flex;
    align-items: flex-start;
    margin: 5px 0;
}



.single--input{
    margin-right: 5px;
    border-radius: 1dvh;
    border-width: 1px;
    max-width: 80px;
}

@media (max-width:425px){
    .inputs{
        align-items: left;
        justify-content: left;
    }
    .single--input{
        display: flex;
        align-items: flex-start;
        margin-bottom: 5px;
    }
}
