<div>
  <H1>CV Management</H1>
</div>
<H3>Dashboard</H3>
<div class="input--fields">
  <div class="inputs">
    <input [(ngModel)]="userId" class="single--input" placeholder="User ID">
    <select [(ngModel)]="isUser" class="single--input">
      <option value="All">All</option>
      <option value="Yes">Yes</option>
      <option value="No">No</option>
    </select>
  </div>
  <div class="inputs">
    <input [(ngModel)]="fullname" class="single--input" placeholder="Full Name">
    <input class="single--input" placeholder="Ratings">
  </div>
</div>

<app-dashboard-table [fullname1]="fullname" [userId1]="userId" [isUser]="isUser"></app-dashboard-table>