<div>
    <div>
        <H1>CV Management</H1>
    </div>
    <H3>Register</H3>
    <div class="register--form">
      <div class="mb-1 row align-items-center">
        <label class="col-sm-2 col-form-label">Full Name:</label>
        <div class="col">
          <input type="text" class="form-control" placeholder="First Name" />
        </div>
        <div class="col">
          <input type="text" class="form-control" placeholder="Last Name" />
        </div>
      </div>
      <div class="mb-1 row">
        <label class="col-sm-2 col-form-label">Email:</label>
        <div class="col">
          <input type="email" class="form-control" placeholder="Email" />
        </div>
      </div>
      <div class="mb-1 row">
        <label class="col-sm-2 col-form-label">Phone:</label>
        <div class="col">
          <input type="text" class="form-control" placeholder="Phone Number" />
        </div>
      </div>
      <div class="mb-1 row">
        <label class="col-sm-2 col-form-label">Address:</label>
        <div class="col">
          <input type="text" class="form-control" placeholder="Address" />
        </div>
      </div>
      <div class="mb-1 row">
        <label class="col-sm-2 col-form-label">Password:</label>
        <div class="col">
          <input type="password" class="form-control"/>
        </div>
      </div>
      <div class="mb-1 row">
        <label class="col-sm-2 col-form-label">Confirm Password:</label>
        <div class="col">
          <input type="password" class="form-control"/>
        </div>
      </div>
      <button type="submit" class="btn btn-primary m-3">Register</button>
    </div>
</div>
